{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    {{ with .Site.Params.contact.title }}<h3 id="contact" class="bigger">{{ . }}</h3>{{ end }}
    <hr class="bar">

    <a class="biglink" href="#form-title">{{ .Site.Params.email }}</a>
    <div>
        <a href="https://www.facebook.com/Alices-dressing-table-126863270745996"><img src="img/facebook.png" /></a>
        <a href="https://www.instagram.com/alicedressingtable/"><img src="img/instagram.png" /></a>
    </div>    
</section>
