<section class="alt-section section-work">
    {{ with .Site.Data.work.title3 }}<h3 id="participations" class="bigger white">{{ . }}</h3>{{ end }}

    <input type="radio" name="trigger" id="return" class="return" />
    <div class="work-belt">
        <div class="thumb-wrap">
            <div class="thumb-container">
                <iframe width="300" height="300" src="https://www.youtube.com/embed/9ohVAkjlGnM" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/lvV4Bcc3BCA" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/6-AbWk_chSU" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/gD2BotwE5OI" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/eCdPgifJqEY" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/2pZm3KbMrm0" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/HIM5n3huDkY" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/TSUWDVz-lpA" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/s1_mTUPqhpU" frameborder="0" allowfullscreen></iframe>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/fr4A3lCWi-Q" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
